@model LatinoHeat.Models.Anime

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-body">Details</h1>

<div>
    <hr />

    <div class="row">

        <div class="col-md-4 col-lg-3 mb-4">
            <div class="d-inline-block position-relative">
                <img src="@Url.Content(Model.CoverPath)"
                     alt="@Model.Title Cover Image"
                     class="img-fluid rounded shadow-sm"
                     style="max-width: 100%; height: auto;" />
            </div>
        </div>

        <div class="col-md-8 col-lg-9">
            <dl class="row text-body">
                <dt class="col-sm-3 fw-bold">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Title)
                </dd>

                <dt class="col-sm-3 fw-bold">
                    @Html.DisplayNameFor(model => model.ReleaseDate)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.ReleaseDate)
                </dd>

                <dt class="col-sm-3 fw-bold">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt class="col-sm-3 fw-bold">
                    @Html.DisplayNameFor(model => model.Genre)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Genre)
                </dd>

                <dt class="col-sm-3 fw-bold">
                    @Html.DisplayNameFor(model => model.EpisodeCount)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.EpisodeCount)
                </dd>

                <dt class="col-sm-3 fw-bold">
                    @Html.DisplayNameFor(model => model.Rating)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Rating)/10
                </dd>
            </dl>

            <div class="mt-4">
                @if(User.Identity.Name != Model.CreatedBy)
                {
                    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning me-2">Edit</a>
                }
                <a asp-action="Index" class="btn btn-outline-light">Back to List</a>
            </div>
        </div>

    </div>
</div>